.Header {
  box-shadow: 0px 0.2rem 0.2rem 0px rgba(#000000, 0.25);
  background-color: $color-white;
  &__logo {
    font-weight: 700;
    font-size: 1.5rem !important;
  }

  &__links {
    text-align: center;
    a {
      font-family: $main-font !important;
      font-weight: 400;
      color: black !important;
      font-size: 1rem;
    }
  }
}

.Jumbo {
  margin-top: 2rem;
  @include respond(phone) {
    padding: 1rem 0;
  }
  .Jumbo-Info {
    padding: 13rem 0;
    @include respond(phone) {
      padding: 0.5rem 0.7rem;
    }

    &__title {
      font-family: $second-font;
      font-size: 4.7rem;
      margin-bottom: 0.5rem;
    }
    &__subtext {
      font-family: $main-font;
      color: #7c828d;
      font-size: 1.75rem;
      margin-bottom: 2rem;
    }

    &__input {
      display: block;
      background: #ffffff;
      box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
      padding: 0.1rem 0.1rem;
      border-radius: 0.4rem;
      padding: 0.8rem 0;
      padding-left: 0.8rem;
      margin: 1rem 0;
      width: 80%;
      border: none;
      margin-bottom: 2rem;
      color: (#b9bec7) !important;
    }

    &__button {
      background: #7e53fd !important;
      font-family: $main-font;
      color: $color-white;
      padding: 0.8rem 0.1rem;
      margin: 1rem 0;
      border: none;
      border-radius: 0.25rem;
      width: 40%;
      font-size: 1.2rem;
      box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
    }
  }

  .Jumbo-shapes {
    position: relative;
    height: 80vh;

    &__img {
      position: absolute !important;
    }
    .triangle {
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%, -50%);
      z-index: 2 !important;
      height: 40rem;
      width: 40rem;
      object-fit: contain;

      @include respond(phone) {
        width: 90%;
      }
    }
    .circle1 {
      top: 25% !important;
      left: 35% !important;
      transform: translate(-35%, -25%);
      z-index: 1 !important;
      height: 15rem;
      width: 15rem;
      @include respond(phone) {
        height: 8rem;
        width: 8rem;
        top: 25% !important;
        left: 35% !important;
        transform: translate(-15%, -5%);
      }
    }
    .circle2 {
      bottom: 25% !important;
      right: 5% !important;
      transform: translate(25%, 25%);
      z-index: 1 !important;
      height: 15rem;
      width: 15rem;
      @include respond(phone) {
        height: 8rem;
        width: 8rem;
        right: 10% !important;
        transform: translate(25%, 15%);
      }
    }
    .video {
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%, -50%);
      z-index: 3 !important;
      object-fit: contain;
      @include respond(phone) {
        width: 90%;
      }
    }
  }
}

.Platforms {
  margin-top: -2rem;
  margin-bottom: 2rem;

  &__title {
    font-family: $main-font;
    text-align: center;
    font-size: 1.75rem;
    color: #7c828d;
    text-transform: uppercase;
  }
}

.Latest_projects {
  background-color: $color-black;
  position: relative;
  margin-bottom: 1rem;
  &__title {
    position: absolute;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-transform: uppercase;
    color: $color-white;
  }

  &__img {
    height: 20rem;
    width: 35rem;
  }
}

.Team {
  margin: 2rem 0;

  position: relative;
  height: 50vh;

  @include respond(phone) {
    width: 100% !important;
    height: 80vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 300;
    font-size: 3.2rem;
    text-align: center;
    letter-spacing: 0.255em;
    font-style: normal;
    font-weight: 300;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;

    @include respond(phone) {
      all: initial;
      position: relative;
      font-size: 2.3rem;
      position: relative;
    }
  }
  &__img {
    position: absolute;
    @include respond(phone) {
      all: initial;
      position: relative;
    }
  }
  .img1 {
    top: 0%;
    left: 5%;
    transform: translate(-5%, 0);
    @include respond(phone) {
    }
  }
  .img2 {
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    @include respond(phone) {
    }
  }
  .img3 {
    top: 60%;
    left: 2%;
    transform: translate(-2%, -20%);
    @include respond(phone) {
      top: 90%;
      left: 20%;
      transform: translate(-60%, -90%);
      height: 10rem;
      width: 10rem;
    }
  }
  .img4 {
    top: 90%;
    right: 2%;
    transform: translate(-2%, -90%);
    @include respond(phone) {
      top: 90%;
      left: 15%;
      transform: translate(60%, -90%);
    }
  }
  .img5 {
    top: 90%;
    left: 30%;
    transform: translate(-30%, -90%);
    @include respond(phone) {
      top: 0%;
      left: -5%;
      transform: translate(25%, 55%);
    }
  }
  .img6 {
    top: 0%;
    right: 20%;
    transform: translate(20%, 0%);
    @include respond(phone) {
      top: 80%;
      right: 0%;
      left: 25%;
      transform: translate(65%, -85%);
    }
  }
  .img7 {
    top: 50%;
    right: 35%;
    transform: translate(20%, 50%);

    @include respond(phone) {
      top: 0%;
      right: 25%;
      transform: translate(-25%, 95%);
    }
  }
}

.Footer {
  height: 50vh;
  background: #38394f;
  position: relative;

  &__title {
    font-size: 2.3rem;
    color: $color-white;
    font-style: normal;
    font-weight: 600;
    @include respond(phone) {
      font-size: 1.8rem;
    }
  }
  &__button {
    background: #7e53fd !important;
    font-family: $main-font;
    color: $color-white;
    padding: 0.8rem 0.1rem;
    margin: 1rem 0;
    border: none;
    border-radius: 0.25rem;
    width: 15rem;
    font-size: 1.2rem;
    box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
    border-color: transparent !important;
  }
}
